.btn {
  padding: 1.3rem 1rem;
  font-family: $font-family-1;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 0;

  &.btn-default,
  &.btn-light,
  &.btn-toggle {
    color: rgba($text-base, 0.5);
    background: rgba($brand-secondary, 0.05) !important;

    &:hover {
      color: $text-base;
    }
  }

  &.btn-primary,
  &.btn-secondary {
    background-color: $brand-primary;

    &:hover {
      background-color: $primary-hover;
    }
  }

  &:active,
  &.active,
  &:focus,
  &.focus {
    box-shadow: none !important;
  }
}
