.sidebar {
  border-right: 1.5px solid rgba($brand-secondary, 0.3);

  .icon-arrow-left:before {
    color: $brand-primary;
  }

  .sidebar-static {
    padding: 0 1.5rem;
    border-bottom: 1.5px solid rgba($brand-secondary, 0.3);
  }
}
