body {
  font-weight: 400;
}

p a, li a {
  color: $text-base;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba($text-base, 0.1) 10%, rgba($text-base, 0.1) 100%);
  background-position: 0 1.07em;
  background-repeat: repeat-x;
  background-size: 10px 2px;
}

p {
  font-family: $font-family-1;
  font-size: 16px;
  line-height: 1.88;
}

.dashboard-header {
  display: none;
}

.panel-body {
  padding: 0;

  h4 {
    margin-bottom: 2rem;
  }
}

.panel.panel-off-white,
.aside .aside-footer {
  background-color: transparent;
}

.panel[title="Projects & Imports"] {

  .btn {
    width: 100%;
    max-width: 320px;

    &:first-of-type {
      margin-right: 6px;
    }
  }
}
