body {
  font-weight: 400;
}

p a, li a {
  color: $text-base;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba($text-base, 0.1) 10%, rgba($text-base, 0.1) 100%);
  background-position: 0 1.07em;
  background-repeat: repeat-x;
  background-size: 10px 2px;
}

p {
  font-family: $font-family-1;
  font-size: 16px;
  line-height: 1.88;
}

.dashboard-header {
  display: none;
}

.panel-body {
  padding: 0;

  h4 {
    margin-bottom: 2rem;
  }
}

.panel.panel-off-white,
.aside .aside-footer {
  background-color: transparent;
}

.panel[title="Projects & Imports"] {
  border-bottom: 1px solid rgba($brand-secondary, 0.1);
  border-radius: 0;
  margin-bottom: 17px;

  .btn {
    width: 100%;
    max-width: 320px;

    &:first-of-type {
      margin-right: 6px;
    }
  }
}

.cta-content p:not(.pb-25) {
  margin-top: 7px;
  margin-bottom: 14px;

  a {
    font-family: $font-family-1;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba($text-base, 0.5) !important;
  }
}
