// Brand Colors:
$brand-primary: #0B5FBF;
$brand-secondary: #2F343B;
$brand-tertiary: #0B5FBF;

// whites
$white: #fff;
$off-white: #f3f3f3;

// Base Colors:
$text-base: #2F343B;
$shade-light: #959CAC;
$shade-normal: #F4F5F5;
$shade-dark: #353C58;

// grays:
$gray: #38394f;
$gray-light: $white;
$gray-lighter: $white;
$gray-lightest: $white;
$gray-dark: $white;
$gray-darker: $white;
$link-color: $brand-primary;

// Action Colors:
$warning: #E69348;
$danger: #F98094;

$green: #81C784;
$yellow: #FFCA28;
$red: #E57373;

// Buttons
$primary-hover: #0955ac;
